<nav class="subnav">
  <ul>
    <li>
      <a href="/members">Back</a>
    </li>
  </ul>
</nav>

<h2>Create New Member</h2>
<div class="members">
  <form method="post" action="/members">
    <div class="member">
      <label for="first-name">First Name:</label>
        <input type="text" name="first_name" id="first-name"/>
      <label for="last-name">Last Name:</label>
        <input type="text" name="last_name" id="last-name"/>
        <label for="premium">Premium:</label>
          <input type="checkbox" name="premium" id="premium"/>
      <label for="address_line_1">Address Line 1:</label>
        <input type="text" name="address_line_1" id="address_line_1"/>
      <label for="address_line_2">Address Line 2:</label>
        <input type="text" name="address_line_2" id="address_line_2"/>
      <label for="town">Town:</label>
        <input type="text" name="town" id="town"/>
      <label for="district">District:</label>
        <input type="text" name="district" id="district"/>
      <label for="post_code">Post Code:</label>
        <input type="text" name="post_code" id="post_code"/>
      <label for="telephone">Telephone #:</label>
        <input type="text" name="telephone" id="telephone"/>
      <label for="email">Email:</label>
        <input type="text" name="email" id="email"/>
    </div>
    <input type="submit" value="Create Member"/>
  </form>
</div>
