<div class="sub_nav_wrapper">
  <nav class="subnav">
    <a class="home" href="/gymclasses">Back</a>
  </nav>
</div>

<div class="erb_wrapper">
  <h1>Create New Gym Class</h1>
  <div class="input_wrapper">
    <form method="post" action="/gymclasses">
      <div class="input_row_wrapper">
        <label class="data_label" for="name">Class Name:</label>
        <input class="data_box" type="text" name="name" id="name" autofocus/>
      </div>
      <div class="input_row_wrapper">
        <label class="data_label" for="description">Description:</label>
        <input class="data_box" type="text" name="description" id="description"/>
      </div>
      <div class="button_wrapper">
        <input class="button" type="submit" value="Create Class"/>
      </div>
    </form>
  </div>
</div>
