<h2>Create New Gym Class</h2>
<div class="gymclasses">
  <form method="post" action="/gymclasses">
    <div class="gymclass">
      <label for="name">Class Name:</label>
        <input type="text" name="name" id="name"/>
      <label for="description">Description:</label>
        <input type="text" name="description" id="description"/>
    </div>
    <input type="submit" value="Create Class"/>
  </form>
</div>
