<div class="sub_nav_wrapper">
  <nav class="subnav">
    <a class="home" href="/gymclasses">Back</a>
  </nav>
</div>

<div class="erb_wrapper">
  <h1>Update Class Details</h1>
  <div class="input_wrapper">
    <form method="post" action="/gymclasses/<%= @gymclass.id %>">
      <div class="input_row_wrapper">
        <label class="data_label" for="name">Class Name:</label>
        <input class="data_box" type="text" name="name" id="name" value="<%= @gymclass.name %>" autofocus/>
      </div>
      <div class="input_row_wrapper">
        <label class="data_label" for="description">Description:</label>
        <input class="data_box" type="text" name="description" id="description" value="<%= @gymclass.description %>"/>
      </div>
      <div class="input_row_wrapper">
        <div class="button2_wrapper_left">
          <input class="button" type="submit" value="Update Class"/>
        </div>
      </form>
      <form method="post" action="/gymclasses/<%= @gymclass.id %>/delete">
        <div class="button2_wrapper_right">
          <input type="submit" value="Delete Class"/>
        </div>
      </div>
    </form>
  </div>
</div>
