<!DOCTYPE html>
<html>
<head>
  <link rel="icon" href="/images/treadmill_icon.png" />
  <link rel="stylesheet" type="text/css" href="/styles/styles.css">
  <link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">
</head>
<body>
  <div class="top_nav_wrapper">
    <nav class="topnav">
      <a class="home" href="/">Home</a>
      <a href="/members">Members</a>
      <a href="/gymclasses">Gym Classes</a>
    </nav>
  </div>
  <%= yield %>
</body>
</html>
